.mainFont {
  font-family: "Montserrat", sans-serif;
}

.terraFont {
  font-family: "Qwigley", cursive;
}

body {
  margin: 0px;
}
body header {
  width: 100%;
}

.topBannerBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.45)), url("../../../root/img/bannerImage.jpg");
  background-size: cover;
  left: 0px;
  top: 0;
}

.logoBox {
  margin-left: 8%;
}
.logoBox .terracotta {
  margin-bottom: -10px;
  font-size: 2.45em;
  color: #9c423b;
}
.logoBox .catering {
  margin-top: 0px;
  margin-left: 2px;
  font-size: 1.25em;
  font-weight: 400;
}

.bookSide {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  text-align: right;
  justify-content: right;
  width: 400px;
}
.bookSide .mailNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0px;
  width: 100%;
}
.bookSide .mailNumber h5 {
  font-weight: 200;
  font-size: 0.85em;
  text-decoration: none;
  letter-spacing: 0.15em;
}
.bookSide .bannerDescript h2 {
  font-size: 2.65em;
  letter-spacing: 1.75px;
  font-weight: 400;
}
.bookSide .bannerDescript .bannerDivider {
  margin-right: 0px;
  width: 30%;
  height: 0.5px;
  background-color: white;
}
.bookSide .bannerDescript h3 {
  letter-spacing: 1.45px;
  font-weight: 300;
}
.bookSide .bannerBookBtn {
  width: 170px;
  height: 40px;
  background-color: #9c423b;
  border: none;
  color: white;
  margin-right: 0px;
  margin-top: 5px;
}
.bookSide .bannerBookBtn h3 {
  margin: 0px;
  font-size: 1.25em;
  font-weight: lighter;
  letter-spacing: 1.5px;
}
.bookSide .bannerBookBtn:hover {
  background-color: #9c5d59;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 8%;
  background-color: #9c423b;
  /* Visited link    */
  /* Selected link   */
}
.navigationBar .navItem {
  padding-left: 15px;
  padding-right: 15px;
}
.navigationBar .navItem h2 {
  color: white;
  font-size: 1.1em;
  font-weight: 300;
}
.navigationBar .navItem:hover {
  background-color: #9c5d59;
}
.navigationBar .navItem a:hover {
  color: #9c5d59;
}
.navigationBar .navItem a:visited {
  color: #9c423b;
}
.navigationBar .navItem a:active {
  color: #9c423b;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footerBookBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #404040;
  color: white;
  align-items: center;
  padding: 20px 10% 20px 10%;
}
.footerBookBanner h4 {
  font-weight: 300;
  padding-right: 30px;
}
.footerBookBanner .footerBookBtn {
  color: #9c423b;
  background-color: white;
  border: none;
  padding: 6.5px 0px 6.5px 0px;
  letter-spacing: 0.1em;
  width: 150px;
}

.mainFooter {
  display: flex;
  flex-direction: column;
  background-color: #9c423b;
  color: white;
}

.footerColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0px 50px;
}
.footerColumns .footerContactUs {
  padding: 10px;
}
.footerColumns .footerContactUs h3 {
  font-weight: 400;
}
.footerColumns .footerContactUs hr {
  width: 100px;
  margin-left: 0;
}
.footerColumns .footerContactUs ul {
  list-style-type: none;
  padding-inline-start: 0px;
  line-height: 1.2em;
}
.footerColumns .footerContactUs ul li {
  font-size: 0.8em;
}
.footerColumns .footerSections {
  padding: 10px;
}
.footerColumns .footerSections h3 {
  font-weight: 400;
}
.footerColumns .footerSections hr {
  width: 100px;
  margin-left: 0;
}
.footerColumns .footerSections ul {
  list-style-type: none;
  padding-inline-start: 0px;
  line-height: 1.44em;
}
.footerColumns .footerSections ul li {
  font-size: 0.8em;
}
.footerColumns .footerSections ul a {
  text-decoration: none;
  color: white;
}
.footerColumns .footerSections ul a:hover {
  text-decoration: underline;
  color: white;
}
.footerColumns .footerSections ul a:visited {
  text-decoration: none;
  color: white;
}
.footerColumns .footerFollowUs {
  padding: 10px;
}
.footerColumns .footerFollowUs h3 {
  font-weight: 400;
}
.footerColumns .footerFollowUs hr {
  width: 100px;
  margin-left: 0;
}
.footerColumns .footerFollowUs ul {
  list-style-type: none;
  padding-inline-start: 0px;
  line-height: 1.5em;
}
.footerColumns .footerFollowUs ul li {
  font-size: 0.8em;
}

.smallPrint {
  text-align: center;
  font-size: 0.7em;
  padding: 30px 0px 15px 0px;
  letter-spacing: 1.5px;
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .footerBookBanner {
    flex-direction: column;
  }
  .footerBookBanner h4 {
    padding-right: 0px;
  }
}
@media all and (max-width: 480px) {
  .footerBookBanner {
    flex-direction: column;
  }
  .footerBookBanner h4 {
    padding-right: 0px;
    text-align: center;
  }

  .footerColumns {
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=main.css.map */